.container-compartilhar {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  font-size: clamp(0, 6, 0.8 + 0.9rem, 1rem);

}



.mensagem-topo h2 {
  font-size: 15px;
  margin-bottom: 10px;
}

.acoes-compartilhar {
  margin: 20px 0;
}

.tudo {
  width: 100%;
  padding: 0px;
  margin: 0px;

}

.mensagem-final {
  margin-top: 40px;
  font-size: 16px;
  color: #444;
}

.btn-acao {
  margin: 8px;
  padding: 12px 24px;
  background: #e49949;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-acao:hover {
  background: #cc7a2f;
}

/*acima está a mensagem final acima do foot*/
/*--------------------------*/


/*Card horizontal 1*/


/* Foto ------------------------------------ */
.card-horizontal1 {
  /*foto*/
  display: flex;
  background-color: #0290a2;
  border-radius: 86px 30px 30px 86px;
  padding: 5px;
  margin: 6px auto;
  /*espaço das bordas da div do card - não mudar*/
  width: 90%;

  max-width: 920px;
  margin: 40px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  align-items: end;
  text-align: center;
  font-size: 14px;
  overflow-wrap: break-word;
  /*font-size: clamp(1.5rem, 2.5vw + 1rem, 3rem);*/
  font-size: 16px;
  /*align-items: stretch;  estica coluna da foto e das linhas igualmente */
}

/* foto ajustada à direita */

.coluna-foto-horiz-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;

}

.foto-card-oval-horiz-1 {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  position: relative;
  /* garante que a imagem fique dentro do card */
}

.photo-format-horiz-1 {
  width: auto;
  object-fit: cover;
  border-radius: 80px 80px 0 80px;
  border: 3px solid transparent;
  z-index: 5;
  height: 100%;
  max-height: 355px;
  width: auto;
  max-width: 218px;
  /* ou o limite que você quiser */
  object-fit: cover;
}

/* Conteúdo à esquerda */
.coluna-linhas-horiz {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  /*espaço horrizontal entre as linhas - fino - não mudar*/
  line-height: 26px;
  overflow-wrap: break-word;
  object-fit: calc()
}

/* Estilo base de cada linha */
.linha {
  display: flex;
  padding: 8px 12px;
  font-size: 13px;

  background: #fff;
  overflow-wrap: break-word;
  align-items: center;
}

.linha-centralizada {
  justify-content: center;

  font-weight: 900;
}

/* Estilo das colunas */
.coluna-horiz {
  display: flex;
  align-items: center;

  flex: 1;
  display: flex;
  align-items: center;

  /*distancia do logo e do texto*/
  padding-left: 20px;
  /* recua o conteúdo para desviar da imagem */
  white-space: nowrap;
}

.col-h1 {
  display: flex;
  align-items: center;

  flex: 1;
  display: flex;
  align-items: center;

  /*distancia do logo e do texto*/
  padding-left: 20px;
  /* recua o conteúdo para desviar da imagem */
  white-space: nowrap;
}

/* Ícones */
.logos-pq {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.logos-micro {
  width: 14px;
  height: 14px;
  object-fit: contain;
  background-color: transparent;
}


.r-h1 {
  border-radius: 30px;
  line-height: 40px;
  margin: 0px 0px 20px 5px;
}

.r-h2 {
  border-radius: 0px 25px 0px 0px;
}

.r-h3 {
  justify-content: center;
  align-items: center;
}

.r-h6 {
  border-radius: 0px 0px 25px 0px;
}

/* Logotipo MyCArd pequeno na última linha */
.logo-final-pequeno {
  width: 24px;
  height: auto;
  margin-left: auto;
  opacity: 0.8;
}

/*final card horizontal1*/

/*Card vertical 1*/


/* Foto ------------------------------------ */

/* foto ajustada à direita */



/* Conteúdo à esquerda */
.coluna-linhas {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  /*espaço horrizontal entre as linhas - fino - não mudar*/
  line-height: 26px;
  overflow-wrap: break-word;
  object-fit: calc()
}

/* Estilo base de cada linha */
.linha-horiz {
  display: flex;
  padding: 8px 12px;
  font-size: 13px;

  background: #fff;
  overflow-wrap: break-word;
  align-items: center;
}

.linha-centralizada {
  justify-content: center;

  font-weight: 900;
}

/* Estilo das colunas */
.coluna {
  display: flex;
  align-items: center;

  flex: 1;
  display: flex;
  align-items: center;

  /*distancia do logo e do texto*/
  padding-left: 20px;
  /* recua o conteúdo para desviar da imagem */
  white-space: nowrap;
}






/*final card horizontal 2*/



/*Responsividade*/
@media (max-width: 500px) {
  .card-horizontal-final {
    width: 94%;
    margin-left: 0;
    padding: 16px 8px;
    grid-template-columns: 60px auto;
    border-radius: 40px;
  }

  .foto-vertical img {
    left: -16px;
    /* ainda sai da borda, mas controlado */
    top: -10px;
    height: 200px;
    max-width: 120px;
  }

  .bloco-linhas {
    height: 180px;
    gap: 1px;
  }

  .linha {
    font-size: 13px;
    line-height: 0.8em;
    flex-wrap: wrap;
    padding: 7px 12px;
  }

  .coluna {
    padding-left: 32px;
    /* mais afastado pra escapar da imagem */
    font-size: 13px;
  }

  .linha5,
  .linha6 {
    justify-content: center;

  }
}