.header-tropical {
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner-container {
  width: 100%;
  overflow: hidden;
  border-radius: 0px 0px 50px 50px;
}

.banner-topo {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.menu-navegacao {
  justify-content: center;
  margin:auto;
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: rgb(234, 144, 10);
  padding:30px 15px;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
}


