* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,

body {
    font-family: Arial;
    background: #f7f7f7;

}

a {
    text-decoration: none;
    color: black;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;

}

.texto-destacado {
    transform: scale(1.05);
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 30px;
}

.texto-destacado:hover {
    color: black;
    transform: scale(1.05);
    background-color: rgb(248, 247, 197);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 30px;
}

.text-fumace {
    text-shadow: 2px 2px 12px orange;
}

.text-maiusculo {
    text-transform: uppercase;
}
.icones-m {
    min-height: 30px;
    width: auto;
    height: 30px;
    padding-right: 5px;
    
}
.logos-media {
    width: auto;
    height: 150px;
    object-fit: cover;
}

.logos-mini {
    width: auto;
    height: 50 px;

}

.logos-micro4 {
    width: auto;
    height: 18px;
    padding-right: 2px;
    object-fit: contain;
    background-color: transparent;
}

.logos-micro2 {
    width: auto;
    height: 14 px;
    padding-right: 5px;
}

.logos-micro {
    width: auto;
    height: 8 px;
    object-fit: cover;
    padding-right: 5px;
}

/* Ícones */
.logos-pq {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.img-media {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero {
    /*background: linear-gradient(to bottom, rgba(0,0,0,0), rgb(249, 231, 142), rgba(0,0,0,0)); */
    padding: 40px;
    text-align: center;
    color: #050505;
    line-height: 40px;
}

.hero a.botoes-verdes {
    font-size: 18px;
    padding: 12px 24px;

}

.formatos-preview {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px auto;
    max-width: 960px;
    flex-wrap: wrap;
}

.formato-box {

    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 280px;
    text-align: center;
}

.formato-box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.formato-box h3 {
    margin-top: 0;
}



@media (max-width: 768px) {

    body,
    p,
    h1,
    h2,
    h3,
    a {
        font-size: 95%;
    }
}